package.json
package-lock.json
dist/
node_modules/
LICENSE
yarn.lock
yarn-error.log
*.sh
.gitattributes
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
logs/
.devcontainer/
.envrc
.envrc.prod
.env.development
data/
